@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <form style="background-color: #EAEAEA;padding:25px" id="login-form" class="form" action="/User/ChangePassword" method="post">
                <h3 class="text-center text-info">Đổi mật khẩu</h3>
                
                <div class="form-group">
                    <label  class="text-info">Mật khẩu hiện tại:</label><br>
                    <input type="password" name="CurrentPassword"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label  class="text-info">Mật khẩu mới:</label><br>
                    <input type="password" name="NewPassword"  class="form-control" required>
                </div>
                <div class="form-group">
                    <label  class="text-info">Nhập lại mật khẩu mới:</label><br>
                    <input type="password" name="ConfirmPassword"  class="form-control" required>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="Đổi mật khẩu">
                    </div>
                </div>
                <h5 style="margin:10px">@ViewBag.Message</h5>
            </form>
        </div>
    </div>
</div>
