@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Đăng ký";
}
<div id="login-row" class="row justify-content-center align-items-center">
    <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
            <form style="background-color: #EAEAEA;padding:25px" id="login-form" class="form" action="/User/Register" method="post">
                <h3 class="text-center text-info">Đăng ký tài khoản</h3>
                <div class="form-group">
                    <label  class="text-info">Tên:</label><br>
                    <input type="text" name="name" id="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label  class="text-info">Email:</label><br>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label  class="text-info">Số điện thoại:</label><br>
                    <input type="text" name="phone" id="phone" class="form-control" required>
                </div>
                <div class="form-group">
                    <label  class="text-info">Mật khẩu:</label><br>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label  class="text-info">Nhập lại mật khẩu:</label><br>
                    <input type="password" name="rePassword" id="password" class="form-control" required>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type="submit" name="submit" class="btn btn-info btn-md" value="Đăng ký">
                    </div>
                    <div class="col-md-6">
                        <a style="margin:0 auto" href="/User/Login" >Đã có tài khoản?Đăng nhập</a>
                    </div>


                </div>
                <h5 style="margin:10px">@ViewBag.Message</h5>
            </form>
        </div>
    </div>
</div>
