@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model List<Movie>
@using MovieTicketBooking.Models
<div class="container product_section_container">
		<div class="row">
			<div class="col product_section clearfix">

				

				<!-- Sidebar -->

				<div class="sidebar">
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h5>Product Category</h5>
						</div>
						<ul class="sidebar_categories">
							<li><a href="#">Phim đang chiếu</a></li>
							<li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Phim sắp chiếu</a></li>
							<li><a href="#">Kho phim</a></li>
							
						</ul>
					</div>
				</div>

				<!-- Main Content -->

				<div class="main_content">

					<!-- Products -->

					<div class="products_iso">
						<div class="row">
							<div class="col">

								<!-- Product Sorting -->

								

								<!-- Product Grid -->

								<div class="row">

									<!-- Product 1 -->

									@foreach (Movie m in Model)
								   {
									   <div class="col-md-3 product-item men">
										<div class="product discount product_filter">
											<div class="product_image">
												<img src="@m.Img" alt="">
											</div>
											
											
											<div class="product_info">
												<h6 class="product_name"><a href="#">@m.MovieName</a></h6>
												<div class="product_price">@m.Price đồng</div>
											</div>
										</div>
										<div class="red_button add_to_cart_button"><a href="#">Đặt vé</a></div>
									</div>
								   }
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
