@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Phim sắp chiếu";
}
@model List<Movie>
@using MovieTicketBooking.Models
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">



            <!-- Sidebar -->

            <div class="sidebar">
                <div class="sidebar_section">
                    <div class="sidebar_title">
                        <h5>Product Category</h5>
                    </div>
                    <ul class="sidebar_categories">
                        <li><a href="#">Phim đang chiếu</a></li>
                        <li class="active"><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Phim sắp chiếu</a></li>
                        <li><a href="#">Kho phim</a></li>

                    </ul>
                </div>
            </div>

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->

                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->
                            <!-- Product Grid -->

                            <div class="row">

                                <!-- Product 1 -->
                                @foreach (Movie m in Model)
                                {
                                    <a href="/Movie/Detail/@m.MovieId">
                                        <div style="height:450px" class="col-md-3 product-item men">
                                        <div class="product discount product_filter">
                                            <div style="height:275px" class="product_image">
                                                <img style="height:100%" src="@m.Img" alt="">
                                            </div>


                                            <div class="product_info">
                                                <h6 class="product_name"><a href="/Movie/Detail/@m.MovieId">@m.MovieName</a></h6>
                                                <div>
                                                    Thể loại:
                                                    @{

                                                        for (var i = 0; i < m.GenreMovies.Count; i++)
                                                        {
                                                            for (var j = 0; j < ViewBag.ListGenres.Count; j++)
                                                            {
                                                                if (i == j)
                                                                {
                                                                    @(ViewBag.ListGenres[j].GenreName+", ")
                                                                }
                                                            }
                                                        }

                                                    }
                                                </div>
                                                <div>Khởi chiếu: @m.StartDate.ToString("dd/MM/yyyy")</div>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
</svg>
                                            </div>
                                        </div>

                                    </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
