@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Danh sách yêu thích";
}
@model List<Movie>
@using MovieTicketBooking.Models
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">



            <!-- Sidebar -->

           

            <!-- Main Content -->

            <div class="main_content">

                <!-- Products -->
                <h3>Danh sách yêu thích của bạn</h3>
                <div class="products_iso">
                    <div class="row">
                        <div class="col">

                            <!-- Product Sorting -->
                            <!-- Product Grid -->

                            <div class="row">

                                <!-- Product 1 -->
                                @foreach (Movie m in Model)
                                {
                                    <a href="/Movie/Detail/@m.MovieId">
                                        <div style="height:450px" class="col-md-3 product-item men">
                                            <div class="product discount product_filter">
                                                <div style="height:275px" class="product_image">
                                                    <img style="height:100%" src="~/movie/images/@m.Img" alt="">
                                                </div>


                                                <div class="product_info">
                                                    <h6 class="product_name"><a href="/Movie/Detail/@m.MovieId">@m.MovieName</a></h6>
                                                    <div>
                                                        Thể loại:
                                                        @{

                                                            for (var i = 0; i < m.GenreMovies.Count; i++)
                                                            {
                                                                for (var j = 0; j < ViewBag.ListGenres.Count; j++)
                                                                {
                                                                    if (i == j)
                                                                    {
                                                                        @(ViewBag.ListGenres[j].GenreName+", ")
                                                                    }
                                                                }
                                                            }

                                                        }
                                                    </div>
                                                    <div>Khởi chiếu: @m.StartDate.ToString("dd/MM/yyyy")</div>

                                                    
                                                </div>
                                            </div>

                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

